.i18next-tui-editor
  .row
    .title
      border-bottom: $default-border
      display: flex
      font-weight: bold
      justify-content: space-between
      padding: 5px

    .box
      textarea
        border: 0
        height: 100px
        outline: none
        padding: 5px
        resize: none
        width: 100%

    &:not(:first-child)
      .title
        border-top: $default-border
